@model WebSite.Models.ProfileModel

<html>
<body>
    <br /><br />
    <style>
        div.box {
            width: auto;
            height: auto;
            padding: 20px;
            padding-bottom: 5px;
            border: groove;
            border-color: lightgray;
            border-width: 2px;
            margin: 0;
        }

        .form-horizontal .control-label {
            text-align: left;
            font-weight: normal;
        }

        label {
            font-weight: normal;
        }

        .form-control {
            display: initial !important;
        }

        input.form-control, select.form-control, textarea.form-control {
            max-width: 600px;
        }
    </style>
    <script type="text/javascript"
            src="/Scripts/jquery-2.1.3.min.js">
    </script>

    <script type="text/javascript">
        checkAcceptance = function () {

            if (document.getElementById("nameField").value == "" || document.getElementById("languagesKnownField").value == "" ||
                document.getElementById("ageField").value == "" || document.getElementById("genderField").value == "" ||
                document.getElementById("mobileNumberField").value == "" || document.getElementById("emailIDField").value == "" ||
                document.getElementById("idProofNumberField").value == "" || document.getElementById("jobLocationField").value == "") {
                alert("Please fill all mandatory fields which are marked with *.");
            }
            else {
                if ($('#acceptanceCheckField').is(':checked')) {
                    $("#EditProfileForm").submit();
                }
                else {
                    alert("Please read & accept the disclaimer");
                }
            }

        }

        ShowDetails = function () {
            if (document.getElementById("givenIDProofNumberField").value != "") {
                document.getElementById("typeOfOperation").value = "Show Details";
                $("#EditProfileForm").submit();

            }
            else {

                alert("Please enter ID proof number");

            }

        }

        EditDetails = function () {
            document.getElementById("typeOfOperation").value = "Edit Details";
            $("#EditProfileForm").submit();
        }



        $(document).ready(function () {

            var idProofFileInput = document.getElementById('uploadIdProofField');
            idProofFileInput.addEventListener('change', function (e) {

                var file = idProofFileInput.files[0];
                if (file.name != "") {
                    var fileExtension = "";

                    if (file.name.lastIndexOf(".") > 0) {
                        fileExtension = file.name.substring(file.name.lastIndexOf(".") + 1, file.name.length).toLowerCase();
                    }

                    if (!((fileExtension == "gif") || (fileExtension == "bmp") || (fileExtension == "png") || (fileExtension == "jpg") || (fileExtension == "jpeg"))) {
                        alert("Given file format is not supported. Supported file formats are *.bmp, *.jpg, *.jpeg, *.png");
                        $("#uploadIdProofField").val('');

                    }

                    if (this.files[0].size == 0) {
                        alert("Invalid File(Empty File)");
                        $("#uploadIdProofField").val('');
                    }

                    //var maxSize = parseInt($(this).attr('max-size'), 10),
                    //size = this.files[0].size;

                    //if (size > maxSize) {
                    //    alert("Invalid File(Size should be less than File)");
                    //    $("#uploadIdProofField").val('');
                    //}

                }

            });


            var resumeFileInput = document.getElementById('uploadResumeField');
            resumeFileInput.addEventListener('change', function (e) {

                var resumeFile = resumeFileInput.files[0];
                if (resumeFile.name != "") {
                    var fileExtension = "";

                    if (resumeFile.name.lastIndexOf(".") > 0) {
                        fileExtension = resumeFile.name.substring(resumeFile.name.lastIndexOf(".") + 1, resumeFile.name.length).toLowerCase();
                    }

                    if (!((fileExtension == "txt") || (fileExtension == "doc") || (fileExtension == "docx") || (fileExtension == "pdf")
                        || (fileExtension == "rtf"))) {
                        alert("Given file format is not supported. Only word & pdf files are supoorted.");
                        $("#uploadResumeField").val('');
                    }

                    if (this.files[0].size == 0) {
                        alert("Invalid File(Empty File)");
                        $("#uploadResumeField").val('');
                    }


                    //var maxSize = parseInt($(this).attr('max-size'), 10),
                    //size = this.files[0].size;

                    //if (size > maxSize) {
                    //    alert("Invalid File(Size should be less than File)");
                    //    $("#uploadResumeField").val('');
                    //}

                }

            });


            document.getElementById("skillsOthersField").style.visibility = "hidden";
            document.getElementById("educationOthersField").style.visibility = "hidden";

            $("#ClearButtonField").click(function () {
                document.getElementById("nameField").value = "";
                document.getElementById("nickNameField").value = "";
                document.getElementById("languagesKnownField").value = "";
                document.getElementById("ageField").value = "";
                document.getElementById("genderField").value = "";
                document.getElementById("uploadIdProofField").value = "";
                document.getElementById("mobileNumberField").value = "";
                document.getElementById("emailIDField").value = "";
                document.getElementById("educationField").value = "";
                document.getElementById("educationOthersField").value = "";
                document.getElementById("skillsField").value = "";
                document.getElementById("skillsOthersField").value = "";
                document.getElementById("uploadResumeField").value = "";
                document.getElementById("commentsField").value = "";
                document.getElementById("idProofNumberField").value = "";
                document.getElementById("dressingField").value = "";
                document.getElementById("jobLocationField").value = "";

                document.getElementById("skillsOthersField").style.visibility = "hidden";
                document.getElementById("educationOthersField").style.visibility = "hidden";

            });

            if ("@Model.LanguagesKnown" != "")
                document.getElementById("languagesKnownField").value = "@Model.LanguagesKnown";

            if ("@Model.JobLocation" != "")
                document.getElementById("jobLocationField").value = "@Model.JobLocation";

            if ("@Model.NickName" != "")
                document.getElementById("nickNameField").value = "@Model.NickName";

            if ("@Model.Comments" != "")
                document.getElementById("commentsField").value = "@Model.Comments";

            if ("@Model.Age" != "")
            $('#ageField').val("@Model.Age").change();

            if ("@Model.Education" != "") {
                $('#educationField').val("@Model.Education").change();
            }

            if ("@Model.EducationOthers" != "")
            {
                document.getElementById("educationOthersField").style.visibility = "visible";
                document.getElementById("educationOthersField").value = "@Model.EducationOthers";
            }

            if ("@Model.Skills" != "") {
                $('#skillsField').val("@Model.Skills").change();
            }

            if ("@Model.SkillsOthers" != "")
            {
                document.getElementById("skillsOthersField").style.visibility = "visible";
                document.getElementById("skillsOthersField").value = "@Model.SkillsOthers";
            }

            if ("@Model.CrossDressing" != "") {
                $('#dressingField').val("@Model.CrossDressing").change();
            }

            @*if (("@Model.Education" != "") && ("@Model.Education" != "10") && ("@Model.Education" != "12")
                && ("@Model.Education" != "Diploma") && ("@Model.Education" != "Graduation") && ("@Model.Education" != "Post Graduation")) {

                document.getElementById("educationOthersField").style.visibility = "visible";
                document.getElementById("educationOthersField").value = "@Model.Education";

                $('#educationField').val("Others").change();
            }
            else {
                $('#educationField').val("@Model.Education").change();
            }

            if (("@Model.Skills" != "") && ("@Model.Skills" != "Teaching") && ("@Model.Skills" != "Cooking")
                && ("@Model.Skills" != "Singing") && ("@Model.Skills" != "Dancing") && ("@Model.Skills" != "Driving")) {

                document.getElementById("skillsOthersField").style.visibility = "visible";
                document.getElementById("skillsOthersField").value = "@Model.Skills";

                $('#skillsField').val("Others").change();
            }
            else {
                $('#skillsField').val("@Model.Skills").change();
            }*@

            if ("@Model.Gender" != "") {
                $('#genderField').val("@Model.Gender").change();
            }


            if ("@Model.Name" != "") {
                $('#nameField').prop('disabled', false);
                $('#nickNameField').prop('disabled', false);
                $('#languagesKnownField').prop('disabled', false);
                $('#genderField').prop('disabled', false);
                $('#ageField').prop('disabled', false);
                $('#uploadIdProofField').prop('disabled', false);
                $('#mobileNumberField').prop('disabled', false);
                $('#emailIDField').prop('disabled', false);
                $('#educationField').prop('disabled', false);
                $('#skillsField').prop('disabled', false);
                $('#uploadResumeField').prop('disabled', false);
                $('#commentsField').prop('disabled', false);
                $('#EditButtonField').prop('disabled', false);
                $('#ClearButtonField').prop('disabled', false);
                $('#dressingField').prop('disabled', false);
                $('#jobLocationField').prop('disabled', false);
            }

            $("#skillsField").click(function () {
                if ($("#skillsField").val() == "Others") {
                    document.getElementById("skillsOthersField").style.visibility = "visible";
                }
                else {
                    document.getElementById("skillsOthersField").style.visibility = "hidden";
                }
            });

            $("#educationField").click(function () {
                if ($("#educationField").val() == "Others") {
                    document.getElementById("educationOthersField").style.visibility = "visible";
                }
                else {
                    document.getElementById("educationOthersField").style.visibility = "hidden";
                }
            });

            $('.navbar-nav a').each(function () {
                if ($(this).text() == $('#page-indicator').val()) {
                    $(this).addClass('active');
                }
            });

            $(".onHoverChangeColorBlue").hover(function () {
                $(this).css("color", "#337ab7")
            }, function () {
                $(this).css("color", "#000000")
            });
        });
    </script>
    <form class="form-horizontal" method="post" action="OnEdit" id="EditProfileForm" enctype="multipart/form-data">
        <input type="hidden" id="page-indicator" name="page-indicator" value="Edit Profile" />
        <input type="hidden" id="typeOfOperation" name="typeOfOperation" value="Edit Details" />

        <div id="divNotice">
            @Html.Partial("~/Views/Shared/_Notice.cshtml", Model.VmNotice)
        </div>

        <div class="box">
            <div class="form-group">
                <label class="col-xs-2">Govt. Issued ID Proof Number*</label>

                <div class="col-xs-10">
                    <input type="text" style="max-width:600px" class="form-control" value="@Model.IDProofNumber" id="givenIDProofNumberField" name="givenIDProofNumberField" placeholder="Please Enter Same ID Proof Number Which Was Used Earlier While Creating The Profile." /> &nbsp;
                    <input type="button" onclick="ShowDetails()" class="form-control btn-primary" name="showDetailsField" id="showDetailsField" value="Show Details" style="max-width:150px" />
                </div>
            </div>

        </div>
        <br />
        <div class="box">
            <div class="form-group">
                <label class="col-xs-2">Name*</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" value="@Model.Name" id="nameField" name="nameField" placeholder="Your Name" disabled required />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2">Nick Name</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="nickNameField" name="nickNameField" placeholder="Any Other Name" value="@Model.NickName" disabled />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2">Gender*</label>
                <div class="col-xs-10">
                    <select size="1" name="genderField" id="genderField" class="form-control" disabled required>
                        <option></option>
                        <option>Trans</option>
                        <option>Intersex</option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label class="col-xs-2">Age*</label>
                <div class="col-xs-10">
                    <select size="1" name="ageField" id="ageField" class="form-control" value="@Model.Age" disabled required>
                        @for (int i = 18; i <= 60; i++)
                {
                    <option>@i</option>
        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2">Languages Known*</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="languagesKnownField" name="languagesKnownField" placeholder="Example - English Hindi" value="@Model.LanguagesKnown" disabled required />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2">Any Govt. Issued ID Proof Number*</label>
                <div class="col-xs-10">
                    <input type="hidden" id="idProofNumber" name="idProofNumber" value="@Model.IDProofNumber" />
                    <input type="text" class="form-control" readonly id="idProofNumberField" name="idProofNumberField" placeholder="Any government issued ID proof number" value="@Model.IDProofNumber" disabled required />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2">Upload ID Proof</label>
                <div class="col-xs-10">
                    <input type="file" class="form-control" id="uploadIdProofField" name="uploadIdProofField" accept="image/*" disabled />
                </div>
            </div>


            <div class="form-group">
                <label class="col-xs-2">Mobile Number*</label>
                <div class="col-xs-10">
                    <input type="tel" maxlength="10" minlength="10" class="form-control" id="mobileNumberField" value="@Model.MobileNumber" name="mobileNumberField" placeholder="Your Mobile Number" disabled required />
                </div>
            </div>


            <div class="form-group">
                <label class="col-xs-2">Email ID*</label>
                <div class="col-xs-10">
                    <input type="email" pattern="[a-zA-Z0-9._%+-]+&#64;[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" class="form-control" id="emailIDField" name="emailIDField" value="@Model.EmailID" placeholder="Your Email ID" disabled required />
                </div>
            </div>


            <div class="form-group">
                <label class="col-xs-2">Education</label>
                <div class="col-xs-10">
                    <select size="1" name="educationField" id="educationField" class="form-control" disabled>
                        <option></option>
                        <option>No Education</option>
                        <option>1st to 4th Standard</option>
                        <option>5th to 7th Standard</option>
                        <option>8th to 10th Standard</option>
                        <option>11th to 12th Standard</option>
                        <option>Diploma</option>
                        <option>Degree</option>
                        <option>Masters</option>
                        <option>Others</option>
                    </select>
                    &nbsp;
                    <input type="text" class="form-control" id="educationOthersField" name="educationOthersField" placeholder="Education" />
                </div>
            </div>


            <div class="form-group">
                <label class="col-xs-2">Skills</label>
                <div class="col-xs-10">
                    <select size="1" name="skillsField" id="skillsField" class="form-control" disabled>
                        <option></option>
                        <option>Teaching</option>
                        <option>Cooking</option>
                        <option>Singing</option>
                        <option>Dancing</option>
                        <option>Driving</option>
                        <option>Computer Knowledge(MS-Word/Excel/Internet etc.)</option>
                        <option>Household Business</option>
                        <option>Education Classes</option>
                        <option>Sewing</option>
                        <option>Assembly</option>
                        <option>Programming</option>
                        <option>Marketing</option>
                        <option>Modeling</option>
                        <option>Fashion</option>
                        <option>Clothes Designing</option>
                        <option>Makeup</option>
                        <option>Others</option>
                    </select>
                    &nbsp;
                    <input type="text" class="form-control" id="skillsOthersField" name="skillsOthersField" placeholder="Skills" />

                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2">Preferred Job Location*</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="jobLocationField" name="jobLocationField" placeholder="Preferred Job Location(Pune, Mumbai, Banglore)" value="@Model.JobLocation" required />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2">Would you be cross-dressing to office?</label>
                <div class="col-xs-10">
                    <select size="1" name="dressingField" id="dressingField" class="form-control" value="@Model.CrossDressing" disabled>
                        <option></option>
                        <option>Regularly</option>
                        <option>Sometimes</option>
                        <option>No</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2">Upload Resume</label>
                <div class="col-xs-10">
                    <input type="file" class="form-control" id="uploadResumeField" name="uploadResumeField" accept="application/pdf,application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" disabled />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2">Comments</label>
                <div class="col-xs-10">
                    <textarea rows="2" class="form-control" id="commentsField" name="commentsField" placeholder="Your Comments" disabled></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2"><input type="checkbox" name="acceptanceCheckField" id="acceptanceCheckField" />*</label>
                <div class="col-xs-10">
                    <span style="display:block;width:600px;word-wrap:break-word;">
                        <div class="box">
                            <font size="1">
                                <p>
                                    The Privacy Policy is with respect to our use and protection of any personal information/data you provide to us through our website www.kinnerjobs.com.
                                    By using the website, you expressly approve and consent to our collection, storage, use and disclosure of your personal information as described below in this Policy.
                                </p>
                                <p>
                                    The information provided by you shall not be given for marketing purposes and other related activities without your prior consent.
                                    The information provided by you shall be used by us to communicate to the employer in order to provide adequate job opportunities & skill developement program for the members of intersex and transgender community.
                                </p>
                                <p>
                                    The job portal and the creators/maintainers of this job portal are not responsible for any type of liabilities which will happen between employers and employees.
                                    Both the employees and employers are advised to do a proper background check about people or oraganistion they would want to be associated with.
                                </p>
                            </font>
                        </div>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2"></label>
                <div class="col-xs-10">
                    <input type="button" onclick="checkAcceptance();" class="form-control btn-primary" id="EditButtonField" name="EditButtonField" value="Edit" style="max-width:150px" disabled />&emsp;
                    <input type="button" class="form-control btn-primary" id="ClearButtonField" value="Clear" style="max-width:150px" disabled />
                </div>
            </div>
        </div>

    </form>
</body>
</html>
